#root {
  max-width: 1280px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 2rem;
}

.game-info {
  display: flex;
  flex-direction: column;
}

.game-info > h2 {
  margin-top: -1rem;
}

.scoreboard {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.scoreboard > h2 {
    margin-top: -0.25rem;
}