:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif; 
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --bg-1: #FF7E6B;
    --bg-2: #FFB494;
    --bg-3: #FFD9A6;
    --accent: #6B4226;
    --text-on-bg: #000000;
    --card-bg-start: rgba(225, 225, 225, 0.9);
    --card-bg-end: rgba(225, 225, 225, 0.6);
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-width: 320px; 
    min-height: 100vh;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.375rem;
    letter-spacing: 0.5px;
}