* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


h2 {
    text-align: center;
    font-weight: 500;
    font-size: 2rem;
}

/* Default Styling: Mobile */

.trapezoid-bg {
    position: absolute;
    top: -20vw;
    right: 0;
    width: 100%;
    height: 120vw;
    transform: skewY(-20deg);
    background-color: #009ec2;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    z-index: -1;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}

.profile-picture {
    position: relative;
    display: flex;
    justify-content: center;
    color: white;
}

.profile-picture img {
    width: 100%;
    height: auto;
}

.profile-picture h1 {
    position: absolute;
    bottom: 0;
    left: calc(0.5rem + 2vw);
    font-size: clamp(2rem, 17.5vw, 5rem);
}   

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

.about-info {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.icons {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.icons img {
    width: 2rem;
    height: auto;
}

main {
    margin-bottom: 3rem;
}

.projects-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    place-items: center;
    padding: 1rem;
    padding-top: 2rem;
    gap: 3rem;
}

.project-card {
    display: flex;
    flex-direction: column;
    max-width: 20rem;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.project-card > img {
    display: flex;
    height: 15rem;
    color: white;
    
}

.project-info {
    display: flex;
    flex-direction: column;
}

.title-icons {
    display: flex;
    padding: 1rem;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
}

.project-desc {
    padding: 0 1rem 4rem 1rem;
}

.footer {
    position: relative;
}

.footer-bg {
    position: absolute;
    background-color: #009ec2;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.contact {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    color: white;
    padding: 1rem;
    padding-bottom: 2rem;
}

.contact-text {
    display: flex;
    flex-direction: column;
    padding: 0 1rem 0 1rem;
    gap: 1rem;
}

.contact-picture {
    position: relative;
    z-index: 1;
}

.contact-picture img {
    width: 100%;
    height: auto;
    object-fit: contain;
}

/* Tablet */
@media (min-width: 500px) and (max-width: 799px) {
    .trapezoid-bg {
        top: -10vw;
        height: 50vw;
        transform: skewY(-10deg);
    }

    .about {
        position: relative;
        display: block;
        margin: 1rem 1rem 0 1rem;
    }

    .profile-picture {
        z-index: 10;
        float: left;
        padding: 0;
        margin-bottom: -1rem;
        transform: translate(-1rem, -1rem);
    }

    .profile-picture h1 {
        position: absolute;
        top: 0;
        left: 105%;
        font-size: 3rem;
        white-space: nowrap;
    }   

    .profile-picture img {
        width: 35vw;
        max-width: 300px;
        height: 35vw;
        max-height: 300px;
        object-fit: cover;
    }

    .about-info {
        display: block;
        z-index: 1;
        margin: 0 1rem 0 1rem;
        min-height: 320px;
        padding: 1rem;
        padding-top: 5rem;
        background-position: bottom;
        background-image: linear-gradient(white, white);
        background-size: 100% 85%;
        background-repeat: no-repeat;
      
        box-shadow: 0 5px 6px -5px rgba(0, 0, 0, 0.5); 
    }   

    .about-info h2 {
        transform: translateY(-0.25rem);
        margin-bottom: 1rem;
    }

    .about-info > .icons {
        margin-top: 1rem;
    }

    .projects-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(3, 1fr);
        place-items: center;
        padding: 1rem;
        padding-top: 2rem;
        gap: 3rem;
    }

    .footer {
        display: flex;
    }

    .contact-picture {
        max-width: 180px;
        margin: 1rem;
    }
}

/* Desktop */
@media (min-width: 800px) {
    .trapezoid-bg {
        top: -10vw;
        height: calc(300px + 12.5vw) ;
        transform: skewY(-7.5deg);
    }

    h2 {
        font-size: 3rem;
    }

    p {
        font-size: 1.25rem;
    }

    .about {
        position: relative;
        display: block;
        margin: 1rem 1rem 0 1rem;
    }

    .profile-picture {
        z-index: 10;
        float: left;
    }

    .profile-picture h1 {
        font-size: 2.5rem; 
        white-space: nowrap;
    }

    .profile-picture img {
        width: 35vw;
        max-width: 300px;
        height: 50vw;
        max-height: 360px;
        object-fit: cover;
    }

    .about-info {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: space-around;
        z-index: 1;
        margin: calc(1rem + 0.125vw) 1rem 0 1rem;
        padding: 2rem;
        min-height: 320px;
        background-color: white;
        box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    }   


    .about-info > .icons {
        margin-top: 1rem;
    }

    .projects-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);;
        grid-template-rows: 1fr 1fr;
        place-items: center;
        padding: 1rem;
        padding-top: 2rem;
        gap: 3rem;
    }

    .footer {
        display: flex;
        justify-content: space-around;
    }

    .contact {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 5vw;
    }

    .contact p {
        font-size: 1.5rem;
    }

    .contact-picture {
        max-width: 30vw;
        margin: 1rem;
    }
}