* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

form {
    width: 200px;
}

form div {
    display: flex;
    flex-direction: column;
    gap: 0.125rem;
    padding-left: 0.5rem;
    margin-bottom: 0.5rem;
}

input {
    border-radius: 0.125rem;
    border-width: 0.1rem;
}

form.submitted input:invalid {
    border-color: red;
    background-color: #fdd;
}

input:focus:invalid {
    outline: none;
}

.error {
    display: none;
    color: red;
    font-size: 0.875rem;
}

.error.active {
    display: block;
}

button {
    margin-left: 0.5rem;
}

.hidden {
    display: none;
}