* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  display: flex;
  min-height: 100vh;
}

form {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 0.5rem;
  padding: 0.5rem;
}

.resume-container {
  display: flex;
  flex: 3;
  justify-content: center;
  align-items: center;
}

.labelInput {
  display: flex;
  flex-direction: column;
}
